data/
emo_audio/raw/
emo_audio/cleaned/
emo_audio/trimmed/
emo_audio/random_cont/
emo_audio/mfa_corpus/
resources/
stimuli/
emo_experiment/

*.wav
*.mat
*.set
*.fdt
*.pickle
*.pkl
*.npy
*.npz

__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
*.prj
*.asv
*.png
